<app-header></app-header>

<section id="aboutusheader">
  <div class=container>


    <div class="xx-large-space"></div>
    <div class="xx-large-space"></div>
    <section style="color: white; text-align: center;">
      <h2>ABOUT US</h2>
      <div class="x-large-space"></div>
      <div class="small-space"></div>
    </section>
  </div>
</section>

<section class="aboutus">

  <div class="container" >
    <div class="aboutus_backgrounds">
      <br>

      <div class="row">
        <div class=" col-sm-2">

        </div>
        <div class=" col-sm-5">
          <h3 style="font-family: Lato;">Some line about Loyalink goes here</h3>
        </div>
        <div class=" col-sm-5">

        </div>

      </div>
      <br><br><br>


      <div class="row">
        <div class="col-sm-2"></div>

        <div class=" col-sm-4">
          <br>
          <br><br>
          <h3>OUR STORY</h3>
          <p> Here is some description text. Nunc cursus erat ut nisi facilisis, vel fringilla neque pellentesque. pellentesque
            habitant morbi tristique senectus et malesuada fames</p>
          <br><br>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
          <img class="brightness" src="{{ appService.homeUrl }}/assets/images/Story-img.png" width='90%' height='80%'>
        </div>
        <div class="col-sm-1"></div>

      </div>

      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
          <img src="{{ appService.homeUrl }}/assets/images/Passion-img.png" width='100%' height='90%'>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
          <br>
          <br><br>
          <h3>MISSION</h3>
          <p> Here is some description text. Nunc cursus erat ut nisi facilisis, vel fringilla neque pellentesque. pellentesque
            habitant morbi tristique senectus et malesuada fames</p>
          <br><br>
        </div>
        <div class="col-sm-1">

        </div>

      </div>


    </div>
    <br>
  </div>
  <br>
</section>

<app-footer></app-footer>
