<app-header></app-header>

<section id="faqheader">
  <div class=container>


    <div class="xx-large-space"></div>
    <div class="xx-large-space"></div>
    <section style="color: white; text-align: center;">
      <h2>FAQ</h2>
      <div class="x-large-space"></div>
      <div class="small-space"></div>
    </section>
  </div>
</section>

<section class="faq" >
  <br>
  <div class="container" >

    <br>
    <br>

    <div class="row">
      <div class="col-sm-3"></div>
      <div class= "col-sm-4">
        <h3 style="font-family: Lato">Some line about 9 MAG FAQ goes here</h3>
      </div>
      <div class="col-sm-5"></div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class=" col-sm-6">

        <p class="accordion">HOW CAN I BOOK AN ARTIST FOR A TATTOO SESSION?</p>
        <div class="panel">
          <p>
          Each tattoo artist at 9MAG is takes walk ins based on their availability,
          with the exception of Ryan Henry - who is by appointment only. Rates and availability may vary
          depending on the artist. For more information, contact the artist you wish to work with
          <a href="https://9magtattoo.com/book">here</a> and a member of our team will reach out to you.
          </p>
        </div>

        <div class="faqline"></div>


        <p class="accordion">HOW DOES SCHEDULING AN APPOINTMENT WORK?</p>
        <div class="panel">
          <p>
            Once you decide which artist you want to get tattooed by, you can contact their assistant
            via e-mail or phone to inquire about scheduling. You will be provided a quote for your appointment based
            on the design and estimated time it will take to complete so that you are prepared on the day of your
            appointment. Once the quote is given and a date/time slot is agreed upon, the deposit will be required
            to confirm your session. All deposits are accepted electronically. We do not accept deposits in person.
            Once the deposit is sent, you will receive a confirmation e-mail or text.
          </p>
          <p>READY TO BOOK AN APPOINTMENT? CLICK <a href="https://9magtattoo.com/book">HERE</a>.</p>
        </div>

        <div class="faqline"></div>



        <p class="accordion">IS THERE A DEPOSIT REQUIRED IN ORDER TO BOOK AN ARTIST AT 9 MAG?</p>
        <div class="panel">
          <p>
            Yes, a deposit is required in order to secure a tattoo session with any 9 MAG artist.
            The deposit will go towards the overall cost of your tattoo (with the exception of bookings with Ryan Henry).
            If you are planning to have multiple sessions for one tattoo you will only need to pay one deposit as
            long as the sessions are scheduled within a timely manner.
          </p>
        </div>


        <div class="faqline"></div>

        <p class="accordion">WHAT HAPPENS IF MY APPOINTMENT IS CANCELLED?</p>
        <div class="panel">
          <p>
            In the event of a cancellation or reschedule by the artist, your deposit is refundable if you do not wish
            to move forward with the tattoo session.
          </p>
        </div>
        <div class="faqline"></div>

        <p class="accordion">HOW DOES THE PROCESS WORK FOR OUT OF TOWN CLIENTS?</p>
        <div class="panel">
          <p>
            If you are visiting from out of state we suggest staying within the area for at least 2-3 nights to allow
            for flexibility. In the event of a cancellation or reschedule by the artist, we are not responsible for any
            costs incurred by the client.
          </p>
        </div>
        <div class="faqline"></div>

        <p class="accordion">CAN PROJECTS BE COMPLETED IN MULTIPLE PAID SESSIONS OR ONE SESSION?</p>
        <div class="panel">
          <p>
            For larger projects, you do have the option to complete your tattoo over the course of several sessions.
            In this case, the cost of your session(s) can be contingent upon your budget, but is subject to the
            general pricing policies provided and/or the discretion of the Artist.
          </p>
        </div>
        <div class="faqline"></div>

        <p class="accordion">WHAT ARE THE AFTERCARE INSTRUCTIONS FOR MY TATTOO?</p>
        <div class="panel">
          <p>
            Before cleaning the tattoo, wash your hands thoroughly with warm water for 20 seconds.
            REMOVE any bandages no more than 2-3 hours after getting the tattoo. Wash the tattoo gently with
            anti-microbial soap (Provin) or non-scented anti-bacterial soap, then pat it dry with a disposable
            paper towel. DO NOT use bar soaps. Wash the tattoo 3 times daily.
          </p>
          <p>
            AFTER washing the tattoo, it is RECOMMENDED that you use a non-petroleum based product such as Redemption
            or Aquaphor to further the healing process. Use only a small amount of product on the tattoo.
            It should be a thin layer to where the tattoo is slightly shiny.
          </p>
          <p>DO NOT USE NEOSPORIN, BACTINE OR ALCOHOL.</p>
          <p>
            In about a week, you may notice the tattoo start to peel. This is a part of the healing process.
            During this process, continue to use ointment on the tattoo. Continue to wash the tattoo until FULLY healed
            (2-4 weeks depending on the area and size of the tattoo).
            If you experience scabbing with the tattoo, DO NOT try to pick at it. The scabs will fall off naturally.
          </p>
          <p>
            If the tattoo gets stuck on your clothes for any reason, soak the piece of clothing until unstuck and
            wash the tattoo properly after. If this occurs, make sure NOT to rip off the clothing.
          </p>
          <p>
            DO NOT submerge your tattoo in water (i.e. bathtubs, jacuzzis, swimming pools, lakes or oceans)
            until fully healed. This WILL AFFECT healing times and the ink in the tattoo.
            Taking a shower is recommended.
          </p>
          <p>
            AVOID the sun while the tattoo is healing. Wait at least 15 days until you apply Sunscreen
            (30 or 50 SPF is recommended) to the tattoo and go into water.
          </p>
          <p>
            Be patient with the healing process. REMEMBER this is permanently on your body, so take the correct
            measures to care for it properly. Make sure to take care of your tattoo even after healing.
          </p>
          <p>If the tattoo looks or feels infected, contact your artist or your physician immediately.</p>
        </div>
        <div class="faqline"></div>


      </div>
      <div class="tattooing_image col-sm-3">

      </div>

    </div>

    <br>
  </div>
  <br>
</section>

<app-footer></app-footer>
