<div class="page-section-wrapper">
  <div class="container">
    <p>
      <button class="btn btn-warning btn-block" routerLink="/admin/add-artist">Add Artist</button>
    </p>

    <app-notification></app-notification>

    <div *ngIf="loading" class="">
      <div class="medium-space"></div>
      <!--<mdl-spinner [active]="true"></mdl-spinner>-->
      Loading ...
    </div>

    <ng2-smart-table
      *ngIf="!loading"
      [settings]="settings"
      [source]="artists"
      (custom)="onCustomAction($event)"
      (editConfirm)="editConfirm($event)"
      (deleteConfirm)="deleteConfirm($event)"></ng2-smart-table>

    <!--<div *ngIf="!loading && !(users && users.length > 0)">-->
    <!--{{ noItemsError }}-->
    <!--</div>-->
  </div>
</div>
