<header class="header">
  <div class="container">
    <nav class="navbar navbar-expand-sm bg-light">
      <a class="navbar-brand" href="#">
        <img src="{{ appService.homeUrl }}/assets/images/logo.png" alt="">
      </a>

      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item selected">
            <a class="nav-link active" [routerLink]="['/home']" [routerLinkActive]="['is-active']">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/admin/artists']" [routerLinkActive]="['is-active']">ARTISTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/admin/users']" [routerLinkActive]="['is-active']">USERS</a>
          </li>
        </ul>
        <button type="button" class="btn btn-link" (click)="authService.logout()">LOGOUT</button>
      </div>
    </nav>
  </div>
</header>

<section id="staffheader" >
  <div class = "container">

    <div class="xx-large-space"></div>
    <div class="xx-large-space"></div>


    <section style="color: white; text-align: center;">
      <h2>Admin</h2>
      <br>
      <br>
      <br>
      <br>
      <br>
    </section>
  </div>
</section>


<main class="admin-main">
  <router-outlet></router-outlet>
</main>

<app-footer></app-footer>

