<app-header></app-header>

<section id="homeheader">
  <div class="xx-large-space"></div>
  <div class="xx-large-space"></div>
  <div class="container">
    <section>

      <ngb-carousel
        *ngIf="images"
        id="demo"
        class="carousel-inner"
        [showNavigationArrows]="showNavigationArrows"
        style="text-align: center; color:white;">
        <ng-template *ngFor="let image of images; let i = index" ngbSlide>
          <div class="carousel-item active">
            <h2>{{ image.title }}</h2>
            <h2>{{ image.content }}</h2>
            <div class="xx-large-space"></div>
            <div class="x-large-space"></div>
            <!--<br><br><br><br><br><br><br><br><br><br><br>-->
          </div>
        </ng-template>
      </ngb-carousel>
    </section>

    <div class="transparent">
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>

</section>

<section class="information">

  <div class="section1">
    <br>
    <h3>Tattoo is getting new dimension</h3>
    <h3>with 9MAG</h3>
  </div>

  <div class="container-fluid storysection">
    <br>
    <div class="row">
      <div class="col-5 tools">
        <!-- <img src="/assets/images/story.jpg"  width="auto" height="auto" align="left"  style="max-width:500px;"  > --></div>
      <div class="story col-sm-3">

        <br>
        <br>
        <h3 style="color:white;">STORY</h3>
        <p>
          <small>A navigation bar is a navigation header that is placed at the top of the page.The
            navbar-expand-xl|lg|md|sm class determines when the navbar should stack vertically (on extra large, large,
            medium or small screens).
          </small>
        </p>
        <br>
        <br>
        <br>


      </div>
      <div class="bwlogobackground col-sm-4">

      </div>

    </div>
  </div>


  <div class="container">

    <br>
    <h3 style="text-align: center">OUR ARTISTS</h3>
    <br>
    <br>
    <div class="homeourartists">
      <div class="row">
        <div class="col-sm-2">
          <!-- <img src="/assets/images/tattooing.jpg" width="80%" height="50%"> -->
        </div>
        <div class="col-sm-10">
          <div *ngIf="!loading">
            <div *ngIf="artists && artists.length > 0; then artistsShortList else noArtists"></div>
          </div>

          <ng-template #artistsShortList>
            <div *ngFor="let artist of artists" class="artistgallery">
              <app-artist [showDesc]="false" [artist]="artist"></app-artist>
            </div>
          </ng-template>

          <ng-template #noArtists>
            There are no artists available
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="information1">
  <div class="container">
    <br>
    <div class="gallery container ">
      <h3 class="text-center">GALLERY</h3>
    </div>
  </div>
  <br>
  <br>

  <div *ngIf="!loading">
    <div *ngIf="artists && artists.length > 0; then galleryList else noGalleryItem"></div>
  </div>

  <ng-template #galleryList>
    <ngb-carousel
      *ngIf="images"
      id="gallery_carousel"
      class="carousel container-fluid slide w-100 carousel2"> <!-- [showNavigationArrows]="showNavigationArrows" -->
      <ng-template *ngFor="let imagesRow of gallery; let i = index" ngbSlide>
        <div class="carousel-item active">
          <div class="carousel-inner w-100" role="listbox">
            <div
              *ngFor="let image of imagesRow; let i = index"
              class="col-2 img-fluid gallery_image"
              [style.backgroundImage]="'url(' + image + ')'"></div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </ng-template>

  <ng-template #noGalleryItem>
    There is no testimonial
  </ng-template>


  <div class="container">
    <div class="homeourstaff">

      <br>
      <br>
      <h3 style="text-align: center">OUR STAFF</h3>
      <br><br>
      <div class="row">
        <!-- <div class="col-sm-1">
        </div> --><br><br>
        <div class="col-sm-3">
          <img src="{{ appService.homeUrl }}/assets/images/staff_images/1.jpg" width='100%' height='90%'>
        </div>
        <div class="col-sm-3">
          <br>
          <br><br>
          <h6> JOHN DOE</h6>
          <p>
            <small> Lorem ipsum dolor sit amet, consectetur adiisicing elit eiusmod tempor incididunt ut labore et
              dolore mafna a enim ad minim veniam, quis nostrud exercitation ullamd nisi ut aliquip ex ea commodo
              consequat. Duis aute irum rrehenderit in voluptate velit esse cillum dolore eu fu parlatur. Excepteur sint
              occaecat cupidatat non proider culpa qui officia deserunt mollit anim id est laborum.
            </small>
          </p>
          <br><br>
        </div>
        <div class="col-sm-3">
          <img src="{{ appService.homeUrl }}/assets/images/staff_images/2.jpg" width='100%' height='80%'>
        </div>
        <div class="col-sm-3">
          <br>
          <br><br>
          <h6> JOHN DOE</h6>
          <p>
            <small> Lorem ipsum dolor sit amet, consectetur adiisicing elit eiusmod tempor incididunt ut labore et
              dolore mafna a enim ad minim veniam, quis nostrud exercitation ullamd nisi ut aliquip ex ea commodo
              consequat. Duis aute irum rrehenderit in voluptate velit esse cillum dolore eu fu parlatur. Excepteur sint
              occaecat cupidatat non proider culpa qui officia deserunt mollit anim id est laborum.
            </small>
          </p>
          <br><br>
        </div>
        <!-- <div class="col-sm-1">
        </div> -->
      </div>
      <div>
      </div>
    </div>

    <div id="demo1" class="carousel slide carousel3" data-ride="carousel">
      <ngb-carousel
        *ngIf="testimonials"
        class="carousel-inner"
        [showNavigationArrows]="false"
        style="color:white;">
        <ng-template *ngFor="let testimonial of testimonials; let i = index" ngbSlide>
          <div class="carousel-item active">
            <p>"{{ testimonial.content }}"</p>
            <p>
              <small>{{ testimonial.author }}</small>
            </p>


            <div class="large-space"></div>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>

  <br>
</section>

<app-footer></app-footer>
