<div class="mdl-grid mdl-typography--text-center">
  <div class="card div mdl-cell mdl-cell--3-col mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
    <a [routerLink]="['/admin/services']">
      <div></div>
      <i class="material-icons" role="presentation">store</i>
      <div>Shop</div>
    </a>
  </div>
  <div class="card div mdl-cell mdl-cell--3-col mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
    <a [routerLink]="['/admin/users']">
      <div><i class="material-icons" role="presentation">supervised_user_circle</i></div>
      <div>Users</div>
    </a>
  </div>
  <div class="card div mdl-cell mdl-cell--3-col mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
    <a (click)="appService.goToMainSite()">
      <div><i class="material-icons" role="presentation">home</i></div>
      <div>Visit site home</div>
    </a>
  </div>
</div>
