<app-header></app-header>

<section id="staffheader">
  <div class=container>


    <div class="xx-large-space"></div>
    <div class="xx-large-space"></div>
    <section style="color: white; text-align: center;">
      <h2>STAFF</h2>
      <div class="x-large-space"></div>
      <div class="small-space"></div>
    </section>
  </div>
</section>

<section class="ourstaff">
  <br>
  <div class="container">
    <div>

      <br>
      <br>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
          <img src="{{ appService.homeUrl }}/assets/images/staff_images/1.jpg" width='100%' height='80%'>
        </div>
        <div class="col-sm-5">
          <br>
          <br>
          <h6> JOHN DOE</h6>
          <br>
          <p>
            <small>
              Lorem ipsum dolor sit amet, consectetur adiisicing elit eiusmod tempor incididunt ut labore et
              dolore mafna a enim ad minim veniam, quis nostrud exercitation ullamd nisi ut aliquip ex ea commodo
              consequat. Duis aute irum rrehenderit in voluptate velit esse cillum dolore eu fu parlatur.
              Excepteur sint occaecat cupidatat non proider culpa qui officia deserunt mollit anim id est laborum.
            </small>
          </p>
          <br><br>
        </div>
        <div class="col-sm-2">

        </div>

      </div>
      <br><br>
      <div class="row">
        <div class="col-sm-2"></div>

        <div class=" col-sm-5">
          <br>
          <br>
          <h6> JOHN DOE</h6>
          <br>
          <p>
            <small>
              Lorem ipsum dolor sit amet, consectetur adiisicing elit eiusmod tempor incididunt ut labore et
              dolore mafna a enim ad minim veniam, quis nostrud exercitation ullamd nisi ut aliquip ex ea commodo
              consequat. Duis aute irum rrehenderit in voluptate velit esse cillum dolore eu fu parlatur.
              Excepteur sint occaecat cupidatat non proider culpa qui officia deserunt mollit anim id est laborum.
            </small>
          </p>
          <br><br>
        </div>
        <div class="col-sm-3">
          <img src="{{ appService.homeUrl }}/assets/images/staff_images/2.jpg" width='100%' height='80%'>
        </div>
        <div class="col-sm-2"></div>

      </div>


    </div>
    <br>
  </div>
  <br>
</section>

<app-footer></app-footer>
