.artist {
  display: block;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

.artist-avatar {
  padding-top: 110%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
