<div *ngIf="loading" class="text-center">
  <div class="medium-space"></div>
  <!--<mdl-spinner [active]="true"></mdl-spinner>-->
  Loading ...
</div>

<div >
  <div class="row" *ngIf="!loading && (crudService.services && crudService.services.length > 0)"
       infiniteScroll
       [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="50"
       [scrollWindow]="false"
       (scrolled)="onScroll()">
    <div
      *ngFor="let service of crudService.services; let i = index"
      class="col-3 graybox">
      <app-item [service]="service"></app-item>
    </div>
    <div *ngIf="loadingMore" class="loading-wrapper" style="margin: auto">
      <!--<mdl-spinner [active]="true"></mdl-spinner>-->
      Loading ...
    </div>
  </div>

</div>

<div *ngIf="!loading && !(crudService.services && crudService.services.length > 0)">
  {{ noItemsError }}
</div>
